.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: url('/images/landing_page_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TitleStyle {
  color: black;
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 50px; 

}

.dropzone {
  position: absolute;
  width: 500px;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropzone.active {
  border-color: #6c63ff;
}

.radio-group {
  margin-top: 20px; /* Added margin-top to create space below the dropzone */
  display: flex;
  flex-direction: column; /* Changed to column direction for vertical alignment */
}

.radio-group label {
  margin-bottom: 10px; /* Added margin-bottom for spacing between radio buttons */
}

.chapter-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chapter-inputs label {
  margin-right: 5px;
}

.chapter-inputs input {
  width: 30px;
}

.generate-button {
  margin-top: 20px;
}